.App {
  height: 100%;
  width: 100%;
}

.cover{
  height: 100%;
  width: 100%;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  height: 100px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about{
  height: 100%;
  width: 100%;
  background-color: salmon;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact{
  height: 100%;
  width: 100%;
  background-color: powderblue;
  display: flex;
  justify-content: center;
  align-items: center;
}